* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Lora", serif;
  color: rgb(240, 239, 235);
}

html {
  font-size: 62.5%;
}

.main-page {
  display: grid;
  grid-template-columns: 1fr 85% 1fr;
  grid-template-rows: 0fr min-content 1fr;
  background-color: #f0efeb;
}

.header-wrapper {
  height: 12rem;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #f0efeb;
  z-index: 2;
  opacity: 0.9;
  border-bottom: 0.3rem solid #eedddd;

}

.header-wrapper img {
  position: relative;
  width: 100%;
  height: 95%;
  padding-top: 2rem;
}

.hidden {
  opacity: 0;
}

.in {
  opacity: 1;
}

.middle-content {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  background-color: #f0efeb;
  /* box-shadow: 0 0 .3rem rgba(0, 0, 0, 0.7); */
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 5rem 1rem 5rem;
}

.main-nav {
  font-size: 4rem;
  font-weight: bold;
  height: 63rem;
  width: 60rem;
  margin-right: 5rem;
}

.main-nav ul {
  list-style: none;
  height: 63rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2.85rem;
  justify-content: space-between;
}

.main-nav li:not(.socials) {
  text-align: center;
  cursor: pointer;
  padding: 3rem;
  background-color: #a5a58d;
  transition: all 0.3s;
  /* box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.3); */
}

.main-nav li:hover:not(.socials) {
  color: #a5a58d;
  background-color: #eedddd;
}

.socials {
  text-align: center;
  display: flex;
  justify-content: space-between;
  
}

.social-wrapper {
  cursor: pointer;
  width: 15rem;
  background-color: #a5a58d;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: all 0.3s;
  /* box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.3); */
}


.social-wrapper:hover {
  background-color: #eedddd;
}



.slide-show {
  height: 63rem;
  width: 100%;
  /* box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5); */
}

.image {
  width: 100%;
  height: 100%;
  background: url(cupcakes1.jpg);
  /* animation: animate 30s infinite ease-in-out;
    -webkit-background-size: cover; */
  background-size: cover;
  background-position: center center;
}

.page-break-wrapper {
  height: 10rem;
  width: 100%;
  text-align: center;
  margin-bottom: 1.5rem;
}

.page-break-wrapper img {
  width: 100%;
  height: 100%;
}

.body {
  padding: 0 5rem;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7rem;
}

.BYOC-left {
  text-align: center;
  /* background-color: #4E5340; */
  position: relative;
}

.BYOC-left:hover > h2 {
  color: #eed2d2;
  font-size: 7rem;
}

.BYOC-left h2 {
  cursor: pointer;
  position: absolute;
  text-decoration: underline;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 6rem;
  text-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}

.body .image-wrapper {
  width: 70rem;
}

.BYOC-left img {
  width: 100%;
  height: 100%;
  filter: blur(5px);
  cursor: pointer;
}

.BYOC-right {
  text-align: center;
  background-color: #a5a58d;
  margin-left: 2rem;
  /* height: 33.5rem; */
  padding: 3rem;
  overflow-wrap: break-word;
}

.BYOC-right p {
  font-size: 2.9rem;
}

.BYOC-right .button {
  display: inline-block;
  box-sizing: border-box;
  bottom: -1rem;
  position: relative;
  width: 95%;
  border: 0.1rem solid #f0efeb;
  background-color: #eed2d2;
  border-radius: 0.12rem;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #f0efeb;
  text-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: all 0.2s;
  font-size: 2.5rem;
}

.BYOC-right .button:hover {
  color: #a5a58d;
  background-color: #eedddd;
}

.fan-fav-wrapper {
  text-align: center;
}

.fan-fav-wrapper h2 {
  padding: 2rem;
  font-size: 4rem;
  background-color: #a5a58d;
  width: 70%;
  margin: 1rem auto 5rem auto;
  border-radius: 0.2rem;
  transition: all 0.6s;
}

.fan-fav-wrapper:hover > h2 {
  width: 100%;
  padding: 3rem 0;
}

.fan-favs {
  justify-content: space-around;
}

.favorites-left {
  position: relative;
  width: 45%;
  background-color: #f0efeb;
}

.favorites-right {
  position: relative;
  width: 45%;
  background-color: #f0efeb;
}

.fan-favs .img-wrapper {
  height: 35vh;
  margin-bottom: 3rem;
}

.fan-favs img {
  width: 100%;
  height: 100%;
  filter: blur(3px);
  cursor: pointer;
}

.graphic-wrapper:hover > h3 {
  color: #eed2d2;
  font-size: 8rem;
}

.fan-favs h3 {
  position: absolute;
  text-decoration: underline;
  top: 20%;
  left: 50%;

  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 7rem;
  text-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.5);
  transition: all 0.6s;
}

.fan-favs ul {
  /* border-radius: 0.12rem;
    padding: 2rem 0 2rem 0;
    margin-top: 3rem;
    background-color: #eed2d2; */
  list-style: none;
}

.fan-favs li {
  background-color: #a5a58d;
  padding: 1rem;
  margin-top: 1rem;
  font-size: 5rem;
  cursor: pointer;
  border-radius: 1rem;
}

.fan-favs li:hover > p {
  color: white;
}

.fan-favs h4 {
  font-size: 4rem;
  color: #eed2d2;
  padding-bottom: 0.5rem;
  position: relative;
}

.fan-favs p {
  font-size: 2rem;
  padding: 0.5rem 1rem 1.5rem 1rem;
  transition: all 0.3s;
}

.fan-favs h4:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #eed2d2;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.fan-favs li:hover > h4:before {
  visibility: visible;
  transform: scaleX(1);
}

.holidays-right {
  text-align: center;
  /* background-color: #4E5340; */
  position: relative;
}

.holidays-right:hover > h2 {
  color: #eed2d2;
  font-size: 8rem;
}

.holidays-right h2 {
  position: absolute;
  cursor: pointer;
  text-decoration: underline;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 7.5rem;
  text-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}

.holidays-right img {
  width: 100%;
  height: 100%;
  filter: blur(5px);
  cursor: pointer;
}

.holidays-left {
  text-align: center;
  background-color: #a5a58d;
  margin-right: 2rem;
  /* height: 33.5rem; */
  padding: 3rem;
  overflow-wrap: break-word;
}

.holidays-left p {
  font-size: 2.9rem;
}

.holidays-left .button {
  display: inline-block;
  box-sizing: border-box;
  bottom: -1rem;
  position: relative;
  width: 95%;
  border: 0.1rem solid #f0efeb;
  background-color: #eed2d2;
  border-radius: 0.12rem;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #f0efeb;
  text-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: all 0.2s;
  font-size: 2.5rem;
}

.holidays-left .button:hover {
  color: #a5a58d;
  background-color: #eed2d2;
}

.footer {
  grid-column: 1 / -1;
  grid-row: 3 / -1;
  background-color: #a5a58d;
  font-size: 2rem;
  text-align: center;
  height: 3rem;
}


/* @keyframes animate {
    20%{
        background: url(images/snickerdoodle1.jpg);
        animation: animate 15s infinite ease-in-out;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center center;
    }
    40%{
        background: url(images/cupcakes3.jpg);
        animation: animate 15s infinite ease-in-out;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center center;
    }
    60%{
        background: url(images/sugarcookies1.jpg);
        animation: animate 15s infinite ease-in-out;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center center;
    }
    80%{
        background: url(images/cupcakes4.jpg);
        animation: animate 15s infinite ease-in-out;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center center;
    }
    100%{
        background: url(images/cupcakes1.jpg);
        animation: animate 15s infinite ease-in-out;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center center;
    } */

/* About Page */
/* Nav bar */
.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem, 3rem;
  background-color: #a5a58d;
  position: sticky;
  top: 0px;
  z-index: 2;
}

.topbar-nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 100%;
  position: relative;
}

.topbar-nav {
  display: flex;
}

.topbar-nav li {
  text-align: center;
  font-size: 3rem;
  padding: 3rem 5rem 3rem 5rem;
  margin-right: 3rem;
}

.topbar-nav a:before {
  content: "";
  position: absolute;
  top: 59px;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #eed2d2;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.topbar-nav li:hover > a:before {
  visibility: visible;
  transform: scaleX(1);
}

.current a:before {
  visibility: visible;
  transform: scaleX(1.5);
}

.current a {
  color: #eed2d2;
}

.topbar-nav li:hover > a {
  color: #eed2d2;
}

.topbar-nav a {
  text-decoration: none;
  position: relative;
}

.logo-wrapper {
  width: 40%;
  padding: 0.5rem 0 0.5rem 2rem;
}

.logo-wrapper img {
  height: 100%;
  width: 100%;
}
/* EO nav bar */

/* body */
.body {
  padding: 0;
  background-color: #f0efeb;
  display: flex;
  flex-direction: column;
}

.first-section {
  text-align: center;
  background-color: #a5a58d;
}

.first-section h1 {
  font-size: 9rem;
  padding-bottom: 5rem;
  padding-top: 8rem;
  transition: all 0.3s;
}

.first-section:hover > h1{
    font-size: 12rem;
    color: #eed2d2;
}

.img-splitter {
  display: flex;
  justify-content: center;
}

.img-splitter:before {
  content: "";
  position: absolute;
  top: 60%;
  width: 100%;
  height: 300px;
  bottom: 0;
  left: 0;
  background-color: #f0efeb;
  z-index: 1;
}

.about-img-wrapper {
  width: 60%;
  height: 50vh;
  z-index: 1;
}

.about-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.second-section {
  background-color: #f0efeb;
}

.second-section {
  display: flex;
  padding: 10rem 5% 0 5%;
}

.our-story {
  padding: 0 5rem 5rem 5rem;
}

.our-story h2 {
  font-size: 5rem;
  color: #4c4747;
}

.second-section p {
  font-size: 3rem;
  text-align: center;
  color: #332f2f;
  text-align: justify;
  text-justify: inter-word;
}

.page-break {
  display: flex;
  justify-content: center;
}

.page-break img {
  width: 150%;
  height: 100%;
}

.bios {
  width: 100%;
  position: relative;
  text-align: center;
}

.bios h2 {
  color: #4c4747;
  font-size: 8rem;
  background-color: #a5a58d;
  margin: 5rem 5rem 2rem 5rem;
}

.handwritten {
  width: 100%;
  height: 10vh;
  margin-bottom: 4rem;
}

.handwritten img {
  width: 90%;
  height: 100%;
}

.bios h3 {
  color: #332f2f;
  font-size: 5rem;
  text-decoration: underline;
  padding-bottom: 4rem;
}

.bio {
  margin: 20rem 10rem;
}

.inner-bio-box {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.bio-image-wrapper {
  width: 100%;
}

.bio-image-wrapper img {
  width: 100%;
  height: 100%;
}

.bio-para {
  width: 100%;
  background-color: #a5a58d;
  padding: 5rem;
  margin: 0 10rem;
  height: 30vh;
  vertical-align: middle;
}

.bio.first {
  margin-top: 4rem;
}

.inner-bio-box p {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f0efeb;
  font-size: 3rem;
}

/* EO body */

/* EO about page */

/* Gallery */
.green,
.white {
  padding: 5rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
}

.green {
  background-color: #a5a58d;
}

.white {
  background-color: #f0efeb;
}

.photos .image-wrapper{
  width: 95%;
  height: 95%;
  z-index: 1;
}

.photos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* EO Gallery */

/* contact */
.contact-page {
  background-color: #f0efeb;
  text-align: center;
}

.contact-top h1 {
  font-size: 8rem;
  padding-top: 5rem;
  color: #a5a58d;
  padding-bottom: 4rem;
}

.contact-top p {
  color: #a5a58d;
}

.contact-middle {
  padding-top: 5rem;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 3fr 1fr;
  flex-wrap: wrap;
  row-gap: 2rem;
  column-gap: 2rem;
  justify-content: center;
  padding: 0 10rem 0 10rem;
  height: 70vh;
}

form input {
  font-size: 3rem;
  padding-left: 5%;
  color: #332f2f;
  background-color: #f0efeb;
  border: 1px solid #a5a58d;
}

form input:hover {
    background-color: white;  
}

.first-name {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.first-name input {
  width: 95%;
  height: 80%;
}

.last-name {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.last-name input {
  width: 95%;
  height: 80%;
}

.email {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.email input {
  width: 95%;
  height: 80%;
}

.phone-num {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.phone-num input {
  width: 95%;
  height: 80%;
}

.msg {
  grid-row: 3 / 4;
  grid-column: 1 / -1;
}

.msg textarea {
  width: 97.5%;
  height: 85%;
  font-size: 3rem;
  padding-left: 2.5%;
  padding-top: 2%;
  color: #332f2f;
  background-color: #f0efeb;
  border: 1px solid #a5a58d;
}

.button-wrapper {
  grid-row: 4 / 5;
  grid-column: 1 / -1;
}

.contact-middle button {
  width: 40%;
  color: #a5a58d;
  height: 5rem;
  font-size: 3rem;
  background-color: #f0efeb;
  border: 1px solid #a5a58d;
  transition: all 0.3s;
}

.contact-middle button:hover {
    background-color: #eed2d2;
    border-color: #eedddd;
    color: #f0efeb;
}

.contact-top p {
  font-size: 2rem;
}

.contact-bottom {
  background-color: #a5a58d;
  display: flex;
  justify-content: space-evenly;
}

.contact-wrapper {
  display: flex;
  align-items: center;
}

.contact-image-wrapper {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-wrapper a{
  font-size: 2rem;
  text-decoration: none;
}

.contact-image-wrapper img {
  width: 100%;
  height: 100%;
}

.email .contact-image-wrapper img {
  width: 70%;
  height: 70%;
}

/* EO contact */

/* Menu */
.menu-page {
    text-align: center;
    background-color: #f0efeb;
}

.menu-page h1 {
    font-size: 5rem;
    padding: 3rem 2rem;
    color: #a5a58d;
    text-decoration: underline;
}

.steps-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.step {
    background-color: #a5a58d;
    width: 80rem;
    margin: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 0;
}

.step-one-wrapper {
    height: 90rem;
}

.step-one-wrapper ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 85%;
}

.step-one-wrapper li {
    font-size: 5rem;
    font-weight: bold;
    color: #f0efeb;
}

.step-two-wrapper {
    height: 90rem;
}

.frostings {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.frosting-type {
    height: 40%;
}

.frosting-flavors {
    height: 60%;
}

.frostings h3{
    font-size: 5rem;
    color: #eedddd;
    padding-bottom: 1rem;
    height: 15%;
}

.frostings ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
}

.frostings li {
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.step-three-wrapper {
    height: 100rem;
}

.fillings {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.filling-regular {
    height: 60%;
}

.filling-premium {
    height: 40%;
}

.fillings h3 {
    font-size: 5rem;
    color: #eedddd;
    padding-bottom: 1rem;
}

.fillings li {
    font-size: 2.5rem;
    padding-bottom: 3rem;
}

.finishes {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.drizzles {
    height: 40%;
}

.garnishes {
    height: 60%;
    padding-bottom: 2rem;
}

.garnishes-regular {
  padding-top: 3rem;
}

.finishes hr {
    color: #eedddd;
    width: 80%;
}

.finishes h3{
    height: 15%;
    font-size: 5rem;
    color: #eedddd;
    padding-bottom: 1rem;
    text-decoration: underline;
}

.drizzles li {
    font-size: 2.5rem;
    padding-bottom: 0.5rem;
}

.garnishes-wrapper {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.garnishes h4 {
    padding-bottom: 1rem;
    font-size: 3rem;
    color: #eedddd;
    text-decoration: underline;
}

.garnishes li {
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

.step h2 {
    height: 10%;
    font-size: 5rem;
    color: #eed2d2;
    text-decoration: underline;
}



/* EO Menu */

.hidden {
  opacity: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.7, 0.7);
  }
  to {
    opacity: 1;
  }
}
.fade-in-element {
  animation: fade-in 1.4s;
}

/* responsive */

@media only screen and (max-width: 1400px) {
  .landing {
    flex-direction: column;
  }

  .section {
    flex-direction: column;
  }

  .holidays-right {
    margin-bottom: 3rem;
  }

  .BYOC-left {
    margin-bottom: 3rem;
  }

  .section .fan-favs {
    display: flex;
  }

  .slide-show {
    padding-top: 3rem;
  }

  .holidays-left {
    order: 2;
  }

  .fan-favs {
    flex-direction: row;
  }

  .main-nav {
    margin-right: 0;
  }
  /* end of main page */

  /* start of about */
  .header {
    flex-direction: column;
    justify-content: center;   
  }

  .topbar-nav li {
    text-align: center;
    font-size: 3rem;
    padding: 2rem 0;
    margin-right: 0;
  }

  .logo-wrapper {
    width: 90%;
    padding: 0rem 5%;
    height: 8rem;
  }

  .topbar-nav a:before {
    top: 47px;
  }

  .img-splitter:before {
    height: 400px;
  }

  .bio {
    margin: 10rem 10rem;
  }

  .about-body {
    width: 100%;
  }

  .bio-para {
    padding: 5rem;
    margin: 0 0rem;
  }

  /* contact  */

  .contact-bottom {
    align-items: center;
  flex-direction: column;
  }

  /* menu */
  /* .drizzles {
    padding-top: 5rem;
  } */
}

@media only screen and (max-width: 1050px){
  .inner-bio-box {
    flex-direction: column;
  }

  .handwritten {
    margin-bottom: 0;    
  }

 .bio-image-wrapper {
    order: -1;
  }

  .bio {
    margin: 10rem 10rem;
  }

  .second-section {
    flex-direction: column;
  }

  /* gallery */
  .green, .white {
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  }
}


@media only screen and (max-width: 824px) {
  .main-nav {
    width: 100%;
    padding-top: 2rem;
  }

  .landing {
    width: 100%;
    padding: 0;
  }

  .body .image-wrapper {
    width: 100%;
  }

  .BYOC-left {
    width: 100%;
  }

  .BYOC-right {
    margin-left: 0;
  }

  .holidays-right {
    width: 100%;
  }

  .holidays-right h2 {
    font-size: 6rem;
  }

  .holidays-right:hover > h2 {
    color: #eed2d2;
    font-size: 6rem;
  }

  .holidays-left {
    margin-right: 0;
  }

  .fan-favs h3 {
    font-size: 5rem;
    top: 17%;
  }

  .graphic-wrapper:hover > h3 {
    color: #eed2d2;
    font-size: 6rem;
  }

  .main-nav ul {
    height: 4rem;
    flex-direction: row;
  }

  .main-nav li:not(.socials) {
    width: 8rem;
    padding: 1rem;
  }

  .social-wrapper {
    width: 3.75rem;
    padding: 0rem;
  }

  .socials {
    width: 10rem;
    justify-content: space-around;
  }

  .main-nav {
    font-size: 2rem;
    height: 4rem;
  }

  .socials img {
    width: 100%;
    height: 100%;
  }

  .slide-show {
    height: 40rem;
  }

  /* about page */

  .header-wrapper {
    width: 110%;
    transform: translateX(-5%);
  }

  .handwritten {
    width: 120%;
    transform: translateX(-10%);
  }

  .topbar-nav li {
    font-size: 2rem;
    padding: 1rem 0;
  }

  .topbar-nav a:before {
    top: 28px;
  }

  .img-splitter:before {
    height: 300px;
  }

  .about-img-wrapper {
    width: 80%;
  }

  /* contact */
  form {
    padding: 0 3rem 0 3rem;
  }

  form input {
    font-size: 2rem;
  }
  .msg textarea {
    font-size: 2rem;
  }


}

@media only screen and (max-width: 650px) {
  .slide-show {
    display: none;
  }

  .fan-favs {
    flex-direction: column;
  }

  .fan-fav-wrapper h2 {
    font-size: 3rem;
  }

  .favorites-left {
    width: 100%;
    padding-bottom: 3rem;
  }

  .favorites-right {
    width: 100%;
  }

  .fan-favs h3 {
    font-size: 7.5rem;
    top: 20%;
  }

  .graphic-wrapper:hover > h3 {
    color: #eed2d2;
    font-size: 8rem;
  }

  .holidays-right h2 {
    font-size: 4rem;
    width: 80%;
  }

  .holidays-right:hover > h2 {
    color: #eed2d2;
    font-size: 5rem;
  }

  .main-nav {
    font-size: 1.3rem;
    height: 3rem;
  }

  .main-nav ul {
    height: 3rem;
  }

  .main-nav li:not(.socials) {
    padding: 0.5rem;
    width: 6rem;
  }
  /* end main page */

  /* about page */
  .our-story h2{
    font-size: 4rem;
  }

  .our-story p {
    font-size: 2.3rem;
  }

  .bio-para p {
    font-size: 2.5rem;
  }

  .bio {
    margin: 10rem 5rem;
  }

  /* contact */

  form input {
    font-size: 1.5rem;
  }
  .msg textarea {
    font-size: 1.5rem;
  }

  /* menu */
  .frostings {
    padding-top: 5rem;
  }
  .fillings {
    padding-top: 5rem;
  }
  .step-one-wrapper ul {
    padding-top: 5rem;
  }
}

@media only screen and (max-width: 450px) {
  .BYOC-left h2 {
    font-size: 4rem;
  }

  .fan-favs h3 {
    font-size: 5.5rem;
    top: 18%;
  }

  .graphic-wrapper:hover > h3 {
    color: #eed2d2;
    font-size: 6rem;
  }

  .bio-para p {
    font-size: 2rem;
  }

  .img-splitter:before {
    height: 370px;
  }

  .topbar-nav li {
    font-size: 1.6rem;
    padding: 1rem 0;
  }

  .topbar-nav a:before {
    top: 23px;
  }

  .about-img-wrapper {
    width: 95%;
  }

  .our-story {
    padding: 0 1rem 2rem 1rem;
  }

  .our-story h2{
    font-size: 4rem;
  }

  .our-story p {
    font-size: 1.8rem;
  }

  .bios h2 {
    margin: 5rem 1rem 2rem 1rem;
  }

  /* gallery */
  .green, .white {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  }

  /* contact */

  .contact-image-wrapper {
    width: 50px;
  }

  .contact-wrapper a {
    font-size: 1.5rem;
  }

  /* menu */
  .step-one-wrapper ul {
    padding-top: 8rem;
  }

  .frostings {
    padding-top: 8rem;
  }

  .frostings h3 {
    font-size: 3rem;
  }

  .fillings {
    padding-top: 8rem;
  }

  .menu-page h1 {
    font-size: 3rem;
  }
}
